# Build directories
build/
build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Qt Creator files
*.pro.user
*.user
*.autosave

# Compiled binaries
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.out

# Private app data (VERY IMPORTANT!)
passwords.txt
masterkey.txt
temp.txt

# Logs
*.log

# Backup
*.bak
*.tmp
